<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
		<TITLE>CreateNewPostPopup</TITLE>
	</HEAD>
	
	<BODY>
		<form id="contentForm" action="http://127.0.0.1:21002/createContentAction" method="post">						
			<div class="ui segment" style="left : 5%; top : 5%; width : 90%; height : 90%;">
				<div class="ui form">	
					<div class="field">
						<label>Title</label>
						<input name="title" type="text" maxlength="20">				
					</div>
					
					<div class="ui inverted divider"></div>
					
					<div class="field">
						<label>Content</label>
						<textarea name="content" style="width : 100%; height : 50%;" maxlength="500"></textarea>
					</div>
					
					<input type="button" class="ui secondary button" style="width : 30%;" value="Save" onclick="onSaveClick();">	
					<input type="button" class="ui button" style="width : 30%;" value="Close" onclick="onCloseClick();">	
				</div>
			</div>
			<input type="hidden" name="id" id="id">
			<input type="hidden" name="lat" id="lat">
			<input type="hidden" name="lng" id="lng">
		</form>

		<script>
			// --- 부모 페이지(map)에서 필요한 값 가져오기
			var id = window.opener.$("#id").val();
			var lat = window.opener.$("#lat").val();
			var lng = window.opener.$("#lng").val();
			
			var form = document.getElementById("contentForm");

			form.id.value = id;
			form.lat.value = lat;
			form.lng.value = lng;
			
			function onCloseClick(){
				window.close();
			}
			function onSaveClick(){	
				if(form.title.value == ""){
					alert("title is empty");
					return;
				}
				
				if(form.id.value == ""){
					id = window.opener.$("#id").val();
					lat = window.opener.$("#lat").val();
					lng = window.opener.$("#lng").val();
					
					form.id.value = id;
					form.lat.value = lat;
					form.lng.value = lng;
				}

				form.submit();
				opener.location.reload();
			}
		</script>
	</BODY>
</HTML>